<style>
<!--style should be in head, #selected selcts tags w/id=selcted, .menu applies for class="menu", 
whenever you refer to your own webpage or your own html. do not include the https-->

a.menu {
    color: blueviolet;
}

ul.menu {
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    font-size: 0px;
    float: none;
    display: inline-block;
}

li.menu {
    background-color: lightblue;
    margin: 0px;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    float: none;
    display: inline-block;
}

li.menu a {
  display: block;
  padding: 0px;
  text-decoration: none;
}

li.menu:hover {
    background-color: lightcyan;
}

.selected{
    background-color: lightblue;
    margin: 0;
    padding: 4px 6px;
    display: inline-block
}

h4 p {
  background-color: royalblue;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
}

.mark {
  background-color: rebeccapurple;
  font-weight: bold;
}

div {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.food-photo {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

table {
      border-collapse: collapse;
    }
    td {
      border: 1px solid black;
      width: 100px;
      height: 40px;
      text-align: center;
      padding: 10;
    }

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

</style>